    <ul class="flex justify-center space-x-6 mb-6">
      <li>
        <i
          class="fa-brands fa-facebook-f text-xl cursor-pointer hover:text-pink-500 transition"
        ></i>
      </li>
      <li>
        <i class="fa-brands fa-twitter text-xl cursor-pointer hover:text-pink-500 transition"></i>
      </li>
      <li>
        <i class="fa-brands fa-youtube text-xl cursor-pointer hover:text-pink-500 transition"></i>
      </li>
      <li>
        <i class="fa-brands fa-instagram text-xl cursor-pointer hover:text-pink-500 transition"></i>
      </li>
    </ul>

    <p class="text-lg">
      Copy Right 2025 © By
      <strong class="text-pink-500 hover:underline cursor-pointer"> Youssef Arafa </strong>
      All Rights Reserved
    </p>
