* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0e0e0e;
    color: #fff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #111;
    z-index: 999;
}

a {
  text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 28px;
    color: #00e5ff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00e5ff;
}

.hero {
    padding: 120px 7% 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-content {
    max-width: 50%;
}

.hero-content h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-content h2 span {
    color: #00e5ff;
}

.hero-content h3 {
    font-size: 26px;
    color: #00e5ff;
    margin-bottom: 15px;
}

.hero-content p {
    line-height: 1.7;
    margin-bottom: 25px;
}

.btn {
    background: #00e5ff;
    color: #000;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.hero-image img {
    width: 90%;
}

.about {
    padding: 80px 7%;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about-img img {
    width: 300px;
    border-radius: 12px;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.about-text p {
    margin-bottom: 20px;
    line-height: 1.7;
}

.skills {
    list-style: none;
}

.skills li {
    margin-bottom: 8px;
    color: #00e5ff;
}

/* CONTACT */
.contact {
    text-align: center;
    padding: 80px 7%;
}

.contact-box {
    background: #111;
    padding: 25px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;
}

.contact-box span {
    color: #00e5ff;
}

footer {
    background: #111;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}