:host {
  display: block;
}

.logo img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  mix-blend-mode: screen;
}
.navbar {
  position: sticky; 
  top: 0;            
  z-index: 1000;     
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  background: rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(10px);    
  border-bottom: 1px solid #e94560;
}
.navcontent{
    color: #e94560;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    font-size: large;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;

  li a {
    text-decoration: none;
    color: #ddd;
    font-weight: 500;
    transition: color 0.3s;

    &:hover {
      color: #e94560; 
    }
  }
}