#experience {
  margin: 40px 50px;
}

.roles {
  display: flex;
  gap: 20px;
}

.experience-item {
  background-color: #1a1d2b;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.experience-item h3 {
  color: #06b6d4;
  margin-bottom: 5px;
}

.experience-item h4 {
  color: #e0e0e0;
  margin-bottom: 5px;
}

.experience-item .date {
  color: #b0b0b0;
  font-size: 0.9em;
  margin-bottom: 15px;
  display: block;
}

.experience-item ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 10px;
}

.experience-item ul li {
  margin-bottom: 8px;
}

.experience-item .tech-stack {
  font-size: 0.9em;
  color: #06b6d4;
  margin-top: 10px;
}
