* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Start NavBar*/
.navbar .Logo {
    width: 200px;
    font-size: 40px;
    font-weight: 700;
    color: green;
    text-decoration: none;
}

.navbar .collapse .nav-item .nav-link {
    color: rgb(133, 106, 58);
    transition: 1;
    font-size: 20px;
}

.navbar .collapse .nav-item .nav-link:hover {
    color: green;
}

.navbar .collapse .nav-item .active {
    color: green;
    font-weight: bold;
}

/* End NavBar */

.bgImage {
    background-image: url('images/images/bg.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bgImage .content .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.bgImage .content .parag {
    color: gray;
    font-size: 15px;
    font-weight: 500;
}

.bgImage .content .fontAwesome .item {
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.bgImage {
    .small-title {
        a {
            color: green;
            font-size: medium;
        }
    }
}


/*Start About*/
.AboutSec {
    background-image: url(images/images/light_dot.jpg);
    width: 100%;
}

.AboutSec .content .aboutTitle {
    font-size: 100px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.1);
    position: relative;
}

.AboutSec .content .aboutTitle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 400;
    color: black;
}

.AboutSec .content p {
    color: gray;
    font-size: 15px;
    font-weight: 500;
}

.AboutSec .content .aboutCaption {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.AboutSec .content .aboutCaption h4 {
    color: red;
}

.AboutSec .content .aboutCaption p {
    color: gray;
    font-size: 18px;
    font-weight: 500;
}

/*End About*/


/*Start Services*/
.ServicesSec {
    background-image: url("images/images/dark_dot.jpg");
    width: 100%;
}

.ServicesSec {
    .content {
        .ServicesTitle {
            font-size: 100px;
            font-weight: 200;
            color: rgba(255, 255, 255, 0.1);
            position: relative;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 50px;
                font-weight: 400;
                color: white;
            }
        }

        p {
            color: white;
            font-size: 15px;
            font-weight: 500;
        }
    }
}

.ServicesSec {
    .totalItem {
        .box {
            position: relative;
            text-align: center;

            .icon {
                width: 40px;
                height: 40px;
                background-color: black;
                border: 1px solid white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);

                i {
                    color: white;
                    font-size: 20px;
                }
            }

            h3 {

                font-size: 20px;
                font-weight: 300;
            }

            h3::after {
                content: "";
                width: 60px;
                height: 3px;
                background-color: green;
                margin: 10px 0px 5px 0px;
            }

        }
    }
}

/*End Services*/


/*Start infoSection*/
.infoSec {
    .content {
        
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        text-align: center;

        .profileImage {
            width: 80%;
            border-radius: 50%;
        }

        .details {
            color: white;
        }

        .item {
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
        }
    }

}
/*End infoSection*/

/* Start Slider*/
 .slidersec{
    .editText{
        font-size: 26px;
        top: 50%;
        bottom: 50%;
        
    }
}

/*End Slider */

/*End infoSection*/
@media screen and (min-width:0)and (max-width:767px) {
    .AboutSec .content .image {
        margin: auto;
    }

    .AboutSec .content .aboutCaption {
        text-align: center;
    }

    .AboutSec .content .aboutCaption h3 {
        padding-top: 20px;
        font-size: 18px;
        font-weight: 700;
    }

    .AboutSec .content .aboutCaption h4 {
        font-size: 15px;
    }

    .AboutSec .content .aboutCaption p {
        font-size: 15px;
        font-weight: 500;
    }


}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .AboutSec .content .aboutCaption h3 {
        font-size: 18px;
        font-weight: 700;
    }

    .AboutSec .content .aboutCaption h4 {
        font-size: 15px;
    }

    .AboutSec .content .aboutCaption p {
        font-size: 15px;
        font-weight: 500;
    }

}