<div class="scroll-smooth">
  <!-- Navbar -->
  <nav>
    <app-navbar
      class="w-full fixed top-0 left-0 bg-white/90 shadow-lg backdrop-blur z-50"
    ></app-navbar>
  </nav>

  <!-- Section 1 -->
  <section id="landscape">
    <app-section1 class="relative h-screen"></app-section1>
  </section>

  <!-- Section 2 -->
  <section id="about">
    <app-section2 class="w-full flex justify-around items-center py-12"></app-section2>
  </section>

  <!-- Section 3 -->
  <section id="about-reverse">
    <app-section3
      class="w-full flex flex-row-reverse justify-around items-center py-12"
    ></app-section3>
  </section>

  <!-- Footer -->
  <footer id="footer" class="bg-[#333] text-white text-center py-10">
    <app-footer></app-footer>
  </footer>
</div>
