    <div class="flex justify-between items-center px-4 py-3">
      <ul class="flex space-x-6">
        <li>
          <a href="#landscape" class="text-gray-700 hover:text-blue-600 font-medium">Home</a>
        </li>
        <li>
          <a href="#about" class="text-gray-700 hover:text-blue-600 font-medium">About</a>
        </li>
        <li>
          <a href="#about-reverse" class="text-gray-700 hover:text-blue-600 font-medium"
            >About ME</a
          >
        </li>
        <li>
          <a href="#footer" class="text-gray-700 hover:text-blue-600 font-medium">Contact Us</a>
        </li>
      </ul>

      <a href="https://ntgclarity.com/" class="text-xl font-semibold text-gray-800">
        NTG Clarity
      </a>
    </div>
