    <article class="w-1/2 p-3 text-gray-800 leading-relaxed">
      I am a software developer specializing in building end-to-end applications with Angular on the
      frontend and Spring Boot on the backend. I focus on creating clean, scalable, and
      high-performance applications with responsive interfaces, reusable components, and robust
      RESTful APIs. My goal is to deliver smooth, user-friendly experiences while ensuring
      performance, reliability, and maintainable code.
    </article>
    <figure class="w-1/4 border-4 border-black p-3 rounded-xl">
      <img src="assets/Images/ME1.jpg" alt="me" class="w-full object-cover rounded h-[450px]" />
    </figure>
