/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cairo", sans-serif;
  line-height: 1.6;
  background-color: #0f111a;
  color: #e0e0e0;
}

.section {
  margin: 40px 50px;
}

.section-content {
  background-color: #1a1d2b;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
  .section {
    margin: 20px;
  }
}

h2{
  font-size: 25px;
  margin-bottom: 10px;
}
