body.html{
    margin:auto;
    padding: auto;
    height: 100%;
    font-family: 'Inter', sans-serif;
}
body{
    background-image: url(/AsusMainBackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    color: white;
}