    <nav class="navbar navbar-expand-lg navbar-dark bg-primary-dark fixed-top py-3">
        <div class="container">
            <a class="navbar-brand fs-2 fw-bold" href="#"><span class="text-blue">Java</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-2">
                        <a class="nav-link fw-medium" href="#home">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link fw-medium" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link fw-medium" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link fw-medium" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link fw-medium" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>