.footer {
    background-color :#1A3D64 ;
    margin-bottom: 0;
    height: 200px;
    display: flex;
}
.footer li {
    color :aliceblue;
}
.footer p {
    align-items: end;
    justify-content: center;
}

h1 {
    color: rgba(173, 35, 35, 0.73);
}

.custom-nav{
    background-color: #1A3D64 !important ;
}
.profile-section {
    padding: 20px;
}

.profile-container {
    display: flex;
    align-items: center;      
    justify-content: center;
    gap: 30px;                
    flex-wrap: wrap;          
}

.profile-text {
    flex: 1 1 auto;
    max-width: 500px ;          
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

.profile-image{
    margin-left: 20px;
}
.profile-image img {
    width: 300px;
    height: 320px;
    object-fit: cover;        
    border-radius: 10px;      
}

.footer {
    background-color :#1A3D64 ;
    margin-bottom: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.footer li {
    color :aliceblue;
    padding-top: 10px;
}
.footer p {
    margin-top: auto;       
    text-align: center;     
}



