<section class="section" id="contact">
  <div class="section-content">
    <h2>Contact Me</h2>
    <div class="contact-links">
      <a href="https://www.linkedin.com/in/elbestawyy/" target="_blank">
        <img
          src="https://img.icons8.com/fluency/48/000000/linkedin.png"
          alt="LinkedIn"
        />
      </a>
      <a href="https://github.com/elbestawyy" target="_blank">
        <img
          src="https://img.icons8.com/fluency/48/000000/github.png"
          alt="GitHub"
        />
      </a>
      <a
        href="https://drive.google.com/file/d/1X34UXyddESR5b7TGhfMxxDnFsTYuW-2T/view?usp=sharing"
        target="_blank"
      >
        <img
          src="https://img.icons8.com/fluency/48/000000/resume.png"
          alt="Download CV"
        />
      </a>
      <a
        href="#"
        onclick="navigator.clipboard.writeText('madel25810@gmail.com'); alert('Email copied: madel25810@gmail.com')"
      >
        <img
          src="https://img.icons8.com/fluency/48/000000/email.png"
          alt="Email"
        />
      </a>
      <a href="tel:+201147513145" title="Call Me">
        <img
          src="https://img.icons8.com/fluency/48/000000/phone.png"
          alt="Phone"
        />
      </a>
    </div>
  </div>
</section>
