<div class="w-full flex justify-around items-center py-12">
  <article class="w-1/2 p-3 text-gray-800 leading-relaxed">
    Full-Stack development with Angular and Spring Boot enables building complete web
    applications. Angular creates dynamic, responsive, and reusable frontend interfaces using
    components, services, and reactive forms. Spring Boot powers the backend with robust RESTful
    APIs, handling business logic, security, and database interactions efficiently. Mastering this
    stack allows developers to deliver end-to-end solutions, integrating smooth user interfaces
    with scalable and reliable backend systems, resulting in maintainable, high-performance, and
    user-centric applications.
  </article>

  <figure class="w-1/4 border-4 border-black p-3 rounded-xl">
    <img src="assets/Images/me.jpg" alt="me" class="w-full object-cover rounded" />
  </figure>
</div>
