header {
  background-color: #1a1d2b;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 1.8em;
  font-weight: 700;
  color: #06b6d4;
  text-transform: uppercase;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #e0e0e0;
  padding: 10px 18px;
  display: block;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #0f111a;
  background-color: #06b6d4;
  border-radius: 5px;
}
