@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color:#033b4a;
    --secondary-color:#20c997;
    --gray:#4a4a4d;
    --bg-primary:#ecf0f3;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;/* search*/
}

body{
    font-family: 'Poppins', sans-serif;
}
h1,h2{
    font-family: 'Saira', sans-serif;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}

.text-primary{
    color: var(--secondary-color);
}
.btn-primary{
    padding: 8px 20px;
    background-color: var(--secondary-color);
    color: #fff;
   font-size: 14px;
   border-radius: 5px;
   transition: all 0.3s ease;
   cursor: pointer;
}
.btn-primary:hover{
    background-color:#15a076;
} 
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

/*Hader Section*/
header{
    background-color: var(--bg-primary);
    height: 100vh;
}
header .navbar{
    background-color: #fff;
    border: 1px solid #ccc;
    position: fixed;
    width: 100%;
   
}
header .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1100px;
     padding: 1.5rem 2rem;
}
#home #logo{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}

header .header-content .content-text{
    margin-bottom: 5rem;
}

header .navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar nav ul a{
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
}

header .header-content{
align-items: center;
   display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1100px;
    margin: auto;
    padding: 5rem 2rem 0;
    height: 100%;
}


#home .header-content p span{
    font-weight: 700;
    font-size: 20px;
}
#home .header-content h1{
    font-size: 50px;
    color: var(--primary-color);
    text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    margin-top: 10px;
}
#home .header-content .title{
    font-size: 20px;
    color: var(--primary-color);
    margin: 10px 0;
    font-weight: 500;
}
#home .header-content .social{
   margin: 1rem 0 2rem;
}
#home .header-content .social a i{
    font-size: 18px;
   padding: 10px;
    background-color: var(--gray);
    color: #fff;
    border-radius: 50%;
  margin-right: 10px;
  transition: all 0.3s ease;
  box-sizing: content-box;
}
#home .header-content .social a i:hover{
    transform: scale(0.85);
}

header .header-content img{
    max-width: 450px;
    border-radius: 5%;
}


/* About Section */
#about{
    padding: 6rem 0;
}
#about h2{
    text-align: center;
    font-size: 38px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}
#about hr{
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px auto 0;
    border: none;
}
#about .about-content{
   margin-top: 4rem;
   display: grid;
   grid-template-columns: 2fr 1fr;
   column-gap: 3rem;
}
#about .about-content .col-1 h3{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}
#about .about-content .col-1 p{
    color: var(--gray);
    margin-bottom: 20px;
    line-height: 1.8;
}
#about .about-content .col-2 p{
    color: var(--gray);
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom:1px solid #ddd;
}
#contact{
    padding: 4rem 0;
    background: #00f4ab0c;
}
#contact .row{
    margin-top: 4rem;
    background: #fff;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
    padding: 2rem 3rem;
    border-radius: 10px;
}
/* Contact Form */
#contact .row input,#contact .row textarea{
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background: #00f4ab0c;
    border:1px solid #bbb ;
}

/* Footer Section */
#footer{
    background-color: #222;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}















