
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

html, body {
height: 100%;
width: 100%;
font-family: Arial, sans-serif;
background-color: #0c0c0c;
color: #fff;
}

.Main-Container {
width: 100%;
min-height: 100vh;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
background: #0c0c0c;
border: 2px solid #dc06dc;
}


header {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 20px;
border-bottom: 2px solid #f6f3f3;
margin-bottom: 20px;
gap: 30px
}

.logo img{
width: 120px;
height: auto;
border-radius: 30%
}

nav a {
margin-left: 30px;
text-decoration: none;
color: #81058c;
font-weight: bold;

}

nav a:hover {
color: #ff69b4;
}

.landscape img {
width: 100%;
max-height: 300px;
margin: 20px 0;
border: 2px solid #000;
object-fit: cover;
border-radius: 10px;
}

.ArticalOneBox,
.ArticalTwoBox {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
gap: 20px;
margin-bottom: 30px;
padding: 20px;
border: 2px solid #0a0b0b;
border-radius: 10px;
background-color: #dc06dc;
}


.ArticalOneBox article,
.ArticalTwoBox article {
flex: 1;
min-width: 200px;
}


.ArticalOneBox figure img,
.ArticalTwoBox figure img {
width: 100%;
max-width: 250px;
height: auto;
border: 2px solid #000;
object-fit: cover;
border-radius: 8px;
}


footer {
width: 100%;
margin-top: auto; 
background-color: #dc06dc;
padding: 15px 0;
text-align: center;
border-top: 2px solid #fffbfb;
font-weight: bold;
}




