body {
  background-color: white;
  text-align: center;
}

.calculator {
  width: 350px;
  background: black;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  border: 5px solid yellow;
}

#screen {
  width: 300px;
  height: 70px;
  background: #DAA06D	;
  color: black;
  font-size: 40px;
  text-align: right;
  padding: 10px;
  margin-bottom: 15px;
  border: 3px solid black;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 25px;
  background-color: #CD7F32;
  color: white;
}

button:hover {
  background-color: red;
}

.clear { background-color: red ; }
.equal { background-color: green ; height: 130px ; }
.zero { grid-column: span 2; width: 130px ; }